@model MvcApuestasJugadoresAWS.Models.Jugador

@{
    ViewData["Title"] = "Create";
}

<h1>Insertar jugador</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input name="nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Posicion</label>
                <input name="posicion" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <input name="imagen" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Equipo</label>
                <select name="equipo" class="form-control">
                    <option value="1">Real Madrid Club de Fútbol</option>
                    <option value="2">Manchester City</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar jugador" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
